<script>
    var id = location.search.split('id=')[1];
    $.get("/catalog/"+id, function(data){
      var lat = data[0].lat;
      var lng = data[0].lng;
      var city = data[0].city;
    
      var mymap = L.map('mapid').setView([lat, lng], 12);
      L.tileLayer('https://api.mapbox.com/styles/v1/gagarinweb/ciukvtr7100982inocm8ri27j/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoiZ2FnYXJpbndlYiIsImEiOiJjaXVrdmY3dzgwMDAzMnlvZXZtNnFqZDF5In0.Jlh1BGZcvEvRCs7JOG8BQw', {
          attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
          maxZoom: 18,
          id: 'mapbox.satellite',
          accessToken: 'pk.eyJ1IjoiZ2FnYXJpbndlYiIsImEiOiJjaXVrdmY3dzgwMDAzMnlvZXZtNnFqZDF5In0.Jlh1BGZcvEvRCs7JOG8BQw'
      }).addTo(mymap);
      var popupContent = 'City: <strong>'+city+'</strong>';
      var marker = L.marker([lat, lng]).addTo(mymap);    
      marker.bindPopup(popupContent).openPopup();
    });
</script>