<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Catalog</a>
    </div>      
    <form class="navbar-form navbar-right" role="search" method="GET" action="/search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search city" name="city">
      </div>
      <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
    </form>
  </div>
</nav>