<script src="js/jquery.min.js"></script>
<script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/ajax.js"></script>

<script>
  $(window).on('load', function() { 
    $('#status').fadeOut(); 
    $('#preloader').delay(350).fadeOut('slow'); 
    $('body').delay(350).css({'overflow':'visible'});
  });
</script>