<!DOCTYPE html>
<html>
<head>  
  <% include partials/head.ejs %>
</head>
<body>
  <div id="preloader">
    <div id="status">&nbsp;</div>
  </div>  
  
  <% include partials/nav.ejs %>

  <div class="container">   
      <div class="row">
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
          <div id="DisplayId"></div>
        </div>
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
          <div id="mapid"></div>
        </div>
      </div>
  </div>
  
  <% include partials/scripts.ejs %>  
  <% include partials/leafletinc.ejs %>

</body>
</html>