<!DOCTYPE html>
<html>
<head>  
  <% include partials/head.ejs %>
</head>
<body>
  <div id="preloader">
    <div id="status">&nbsp;</div>
  </div>
   
  <% include partials/nav.ejs %>
  
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
      	<ul class="list-group">
    	  	<div id="DisplayAll"></div>
            <input type="button" class="btn btn-info col-lg-12 col-md-12 col-sm-12 col-xs-12" id="btnLoadMore" value="More"/>
    	</ul>
      </div>
    </div>     
  </div>
  
  <% include partials/scripts.ejs %>
  
</body>
</html>