<!DOCTYPE html>
<html>
<head>  
  <% include partials/head.ejs %>
</head>
<body>
  <div id="preloader">
    <div id="status">&nbsp;</div>
  </div>
   
  <% include partials/nav.ejs %>
  
  <div class="container">      
    <div id="SearchOutput"></div>    
  </div>
  
  <% include partials/scripts.ejs %>
  
</body>
</html>